<div class="panel panel-default">
    <!--<div class="panel-heading">{{ element.name }}</div>-->
    <div class="panel-heading" #heading>{{ name }}</div>
    <div class="panel-body">
        <!--We can add a special directive from angular, this serves as a hook that we can place in our
        component to mark the place for Angular know where to put the data that we place between the our app-server-element component in the app-component root html-->
        <ng-content></ng-content>
    </div>
</div>